body {
  background-image: url('../img/concrete_seamless.png');
  font-family: Helvetica, sans-serif;
  font-size: 80%;
}

.card {
  float: left;
  border-radius: 5px;
  margin-right: 20px;
}

.covered {
  /*transition: opacity 1s;*/
}

.player-hand-container, .dealer-hand-container {
  margin: 0 100px 0 0;
  display: inline-block;
}

.hand {
  height: 300px;
  overflow: auto;
  display: inline-block;

}